/*
the font types for future use
h1 {
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Encode Sans Expanded', sans-serif;
}
*/

/*body {
  -webkit-background-size: background-cover;
  -moz-background-size: background-cover;
  -o-background-size: background-cover;
}*/

/*BK-COVER*/
 #background-cover {
  background-image: url('../images/ingredients-food.jpg'); 

}

/*Heading tags*/
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  color: #5DBCD2;
  font-style: italic;
  font-weight: bold; 
  margin-top: 70px;
}


#landing {
  
}


/* signup, signin-page*/
#signin-page, #signup-page {
  background: url('../images/eight_horns.png');
  
}


/*Home page*/
#home {
  background-image: url('../images/eight_horns.png');
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
  height: 400px;
  padding-top: 20px;
}
 .home-row {
   margin: 20px 180px 5px 10px;
 }
/* home-row class tags*/

 .home-para, h3 {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: bolder;
  color: black;  
}


/*Recipe listing*/
#recipe-listing {
  background-image: url('../images/doodles.png');
  background-repeat: no-repeat;
  position: center;
  background-size: cover, cover;
  height: 400px;
  padding-top: 20px;
}
#reci-pop-search {
  margin-left: 90px;
}

#recipe-pop {
  margin-top: 15px;
}


/*Footer styles*/
.footer {
  /* add more styles later*/
}
#footer-para {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 15px;
  color: green;
}

#red-footer {
  color: red;
}

.copy {
  color: purple;
}

#email {
  color: purple;
}

#red {
  color: red;
}